@{
    ViewBag.Title = "Home Page";
}



<div class="login-form">
<form method="post" action="/Home/Index">
    <h1>Login</h1>
    <div class="content">
        <div class="input-field">
            <input type="text" placeholder="username" name="uname" autocomplete="nope">
        </div>
        <div class="input-field">
            <input type="password" name="pass" placeholder="Password" autocomplete="new-password">
        </div>
        <a href="/home/signup" class="link">Creat a new account</a>
    </div>
    <div class="action">
        
        <input type="submit" value="login" class="bb" />
    </div>
</form>
</div>